@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

:root {
  --azul: #539ddb;
  --azul-escuro-destaque: #094b84;
  --branco: #fff;
  --preto: #1a1818;
  --cinza: #ccc;

  --font-principal: "Montserrat", sans-serif;

  --radio: 0.375em;
  --tamanho-texto: 16px;
}

img {
  width: 100%;
}

a {
  color: inherit;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

html {
  font-size: var(
    --tamanho-texto
  ); /*Definindo a fonte no ROOT ou elemento raiz*/
}

body {
  font-family: var(--font-principal);
  color: var(--preto);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1% 5%;

  background-color: var(--azul);

  background-image: url('../img/spa-banner.jpg');
}

.logo-container {
  width: 8rem;
}

.logo-container .logo-img {
  width: 100%;
}

.menu-nav .menu-item {
  display: inline-block;
}

.drop-container {
  position: relative;
  display: none;
}

.drop-item {
  position: absolute;
  display: block;
  margin-top: 5%;
  padding: 0.2rem 0.3rem;
}

.drop-item:nth-child(2) {
  margin-top: 35%;
}

.links {
  padding: 0.7rem;
  color: var(--branco);
}

.links:not(.signup):hover {
  /*Melhora o Hover*/
  color: var(--azul-escuro-destaque);
  text-decoration: underline;

  transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) all;
}

span.login-section {
  margin-left: 2.2rem;
}

.links.signup {
  background-color: var(--azul-escuro-destaque);
  color: var(--branco);
  border-radius: var(--radio);
}

.links.signup:hover {
  background-color: #09406c;
  color: var(--azul);

  transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) all;
}
