@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

:root {
  --azul: #539ddb;
  --azul-escuro-destaque: #094b84;
  --branco: #fff;
  --preto: #1a1818;
  --cinza: #ccc;

  --font-principal: "Montserrat", sans-serif;

  --radio: 0.375em;
  --tamanho-texto: 16px;
}

img {
  width: 100%;
}

a {
  color: inherit;
}

h2 {
  color: var(--azul-escuro-destaque);
}

section {
  display: flex;
  width: 100%;
}

p {
  line-height: 1.5;
}

html {
  font-size: var(
    --tamanho-texto
  ); /*Definindo a fonte no ROOT ou elemento raiz*/
}

.hide {
  display: none;
}

body {
  font-family: var(--font-principal);
  color: var(--preto);
}

.container {
  padding-left: 5%;
  padding-right: 5%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0.5% 5%;
  background-color: rgba(83, 158, 219, 0.25);
  backdrop-filter: blur(10px);
}

.logo-container {
  width: 7.8rem;
}

.logo-container .logo-img {
  width: 100%;
}

.menu-nav .menu-item {
  display: inline-block;
}

.drop-container {
  position: absolute;
  margin-top: 1rem;
  padding: 0.3rem 0.5rem;
  background-color: rgba(83, 158, 219, 0.25);
  backdrop-filter: blur(10px);
  border-radius: var(--radio);
}

.drop-item {
  margin-bottom: 1rem;
}

.links {
  padding: 0.6rem;
  color: var(--branco);
  font-size: 1.2rem;
}

.links:not(.signup):hover {
  /*Melhorar o Hover*/
  color: var(--azul-escuro-destaque);
  text-decoration: underline;

  transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) all;
}

span.login-section {
  margin-left: 2.2rem;
}

.links.signup {
  background-color: var(--azul-escuro-destaque);
  color: var(--branco);
  border-radius: var(--radio);
}

.links.signup:hover {
  background-color: #09406c;
  color: var(--azul);

  transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) all;
}

.banner-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: url(../img/banner.png);
  background-size: cover;
  height: 150vh;
  color: #fff;
}

h2.title-banner {
  font-size: 4rem;
  text-shadow: 0 0 0.25rem rgb(255, 255, 255);
  margin-bottom: 2.8rem;
}

.desc-banner {
  max-width: 940px;
  padding: 1.3rem;

  font-size: 1.4rem;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.19);

  color: var(--azul);

  background-color: rgba(255, 255, 255, 0.336);
  backdrop-filter: blur(0.2rem);
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  background-color: var(--branco);
}

.loader {
  width: 5rem;
  height: 5rem;

  border-right: 0.3rem solid var(--azul-escuro-destaque);
  border-bottom: 0.3rem solid var(--azul-escuro-destaque);
  border-radius: 100%;

  animation: spin 2s linear infinite;
}

.wrap-content {
  flex-direction: column;
  padding-bottom: 1rem;
}

.tips {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.tips:not(.tips-top) {
  margin-top: 1rem;
}

.tips:nth-child(odd) {
  background-color: var(--azul);
}

.separador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

h2.title {
  margin-bottom: 2rem;
}

.tips h2.title {
  text-align: right;
}

.tips:nth-child(odd) h2.title {
  color: var(--branco);
}

.description {
  max-width: 40rem;
  text-align: justify;
}

.tips:nth-child(odd) .description {
  /*estiliza as descrições das tips impares*/
  color: #e0e0e0;
}

.wrap-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 35rem;
  height: 35rem;
}

.img {
  height: 80%;
  border-radius: 100%;
}

.calling {
  padding-top: 8%;
  padding-bottom: 10%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--azul);
  color: var(--branco);
}

.call-desc {
  text-align: justify;
  max-width: 80%;
}

.call-button {
  background-color: var(--branco);
  color: var(--azul-escuro-destaque);
  margin-top: 1rem;
  padding: 0.625rem;

  border-radius: var(--radio);

  font-weight: 700;
}

.call-button:hover {
  transform: scale(1.1);
  transition: transform 2s ease-in-out;
}

.newsletter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  padding-top: 8%;
  padding-bottom: 10%;
}

.newsletter h2.title {
  margin-bottom: 1rem;
}

.newsletter h2.title::after {
  content: "";
  display: block;
  background-color: var(--azul-escuro-destaque);
  margin: 0.4rem auto 0;
  width: 6.25rem;
  height: 0.25rem;
}

.newsletter label {
  position: absolute;
  left: -99999999px;
}
.newsletter p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--azul-escuro-destaque);
}

button,
input[type="text"],
input[type="email"] {
  outline: 0;
  border: 0;
}

.news-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.newsletter .input {
  width: 25%;
  border: 0.0625rem solid var(--azul-escuro-destaque);
  font-size: 1.3rem;
  border-top-left-radius: var(--radio);
  border-bottom-left-radius: var(--radio);
}

.news-form .button {
  width: 10%;
  background-color: var(--azul-escuro-destaque);
  color: var(--branco);

  font-size: 1.3rem;
  border-top-right-radius: var(--radio);
  border-bottom-right-radius: var(--radio);
}

.button:hover {
  cursor: pointer;
}

.input::placeholder {
  font-size: 1rem;
}

.input,
.button {
  padding: 15px 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
  background-color: var(--azul-escuro-destaque);
  color: var(--cinza);
}

.footer-logo {
  font-size: 1.5rem;
}

.footer-elements {
  display: flex;
  flex-direction: column-reverse;
}

.footer-elements > span {
  margin-top: 1.5rem;
  font-style: italic;
}

.social-cont {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
}

.social-title {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.social {
  margin: auto;
}

.social .social-item {
  font-size: 1.5rem;
  padding: 0.625rem;
  display: inline-block;
}

.social-item:hover {
  color: var(--branco);
  transition: color 2s ease-out;
}

.back-to-top {
  /*Tornar Suave O  do Botao to Top*/
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  left: 90%;
  bottom: 5%;
  width: 5rem;
  height: 5rem;
  background-color: var(--azul);

  border-radius: 100%;
  opacity: 0.7;
  transition: opacity 1s ease-out;
}

.back-to-top:hover {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.back-to-top a {
  padding: 20%;
}

.back-to-top i {
  font-size: 1.8rem;
  color: var(--azul-escuro-destaque);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
